[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=QuiteRSS
Comment=sleep for a bit and then start it
Exec=bash -c "sleep 30 && quiterss"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

