[Desktop Entry]
Version=1.0
Name=Redshift
Name[be]=Redshift
Name[ca]=Redshift
Name[cs]=Redshift
Name[da]=Redshift
Name[de]=Redshift
Name[en_GB]=Redshift
Name[es]=Redshift
Name[fr]=Redshift
Name[he]=Redshift
Name[hu]=Redshift
Name[it]=Redshift
Name[ja]=Redshift
Name[lt]=Redshift
Name[nb]=Redshift
Name[pl]=Redshift
Name[pt]=Redshift
Name[pt_BR]=Redshift
Name[ro]=Redshift
Name[ru]=Redshift
Name[sr]=Redshift
Name[sv]=Redshift
Name[tr]=Redshift
Name[uk]=Redshift
Name[zh_CN]=Redshift
Name[zh_TW]=Redshift
GenericName=Color temperature adjustment
GenericName[be]=Color temperature adjustment
GenericName[ca]=Color temperature adjustment
GenericName[cs]=Color temperature adjustment
GenericName[da]=Color temperature adjustment
GenericName[de]=Color temperature adjustment
GenericName[en_GB]=Color temperature adjustment
GenericName[es]=Color temperature adjustment
GenericName[fr]=Color temperature adjustment
GenericName[he]=Color temperature adjustment
GenericName[hu]=Color temperature adjustment
GenericName[it]=Color temperature adjustment
GenericName[ja]=Color temperature adjustment
GenericName[lt]=Color temperature adjustment
GenericName[nb]=Color temperature adjustment
GenericName[nl]=Color temperature adjustment
GenericName[pl]=Color temperature adjustment
GenericName[pt_BR]=Color temperature adjustment
GenericName[ru]=Color temperature adjustment
GenericName[sr]=Color temperature adjustment
GenericName[sv]=Color temperature adjustment
GenericName[tr]=Color temperature adjustment
GenericName[uk]=Color temperature adjustment
GenericName[zh_CN]=Color temperature adjustment
GenericName[zh_TW]=Color temperature adjustment
Comment=Colour temperature adjustment tool
Comment[be]=Colour temperature adjustment tool
Comment[ca]=Colour temperature adjustment tool
Comment[cs]=Colour temperature adjustment tool
Comment[da]=Colour temperature adjustment tool
Comment[de]=Colour temperature adjustment tool
Comment[en_GB]=Colour temperature adjustment tool
Comment[es]=Colour temperature adjustment tool
Comment[fr]=Colour temperature adjustment tool
Comment[he]=Colour temperature adjustment tool
Comment[hu]=Colour temperature adjustment tool
Comment[it]=Colour temperature adjustment tool
Comment[ja]=Colour temperature adjustment tool
Comment[lt]=Colour temperature adjustment tool
Comment[nb]=Colour temperature adjustment tool
Comment[nl]=Colour temperature adjustment tool
Comment[pl]=Colour temperature adjustment tool
Comment[pt_BR]=Colour temperature adjustment tool
Comment[ru]=Colour temperature adjustment tool
Comment[sr]=Colour temperature adjustment tool
Comment[sv]=Colour temperature adjustment tool
Comment[tr]=Colour temperature adjustment tool
Comment[uk]=Colour temperature adjustment tool
Comment[zh_CN]=Colour temperature adjustment tool
Comment[zh_TW]=Colour temperature adjustment tool
Exec=redshift
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true
RunHook=0

