"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "80s-pastel-syntax"
    ]
  "exception-reporting":
    userId: "0caf3b09-84db-474d-bc11-83e81b12dc99"
  "nyan-indent": {}
