"*":
  "atom-clock":
    showClockIcon: true
    showOnlyInFullscreen: true
  core:
    disabledPackages: [
      "prettier-standard-formatter"
      "prettier-atom"
      "linter-jshint"
      "atom-disapproval"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "80s-pastel-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "0d81867f-3f45-4bb4-970e-9fadfdae7ec0"
  "linter-jshint": {}
  welcome:
    showOnStartup: false
